* {
    font-family: "monospace";
    font-size: 13px;
}


window#waybar { 
    background-color: #9f643e; 
    color: #ffffff;    
}


.modules-left {
	background-color: #323232;
	padding: 0px 0px 0px 0px;
}


.modules-right {
	background-color: #323232;
	padding: 0px 5px 0px 5px;
}


#custom-scratch {
	background-color: #323232;
	color: #b8b8b8;
	padding: 0px 9px 0px 9px;
}


#workspaces {
}


#workspaces button {
	padding: 0px 11px 0px 11px; 
 	min-width: 1px;
	color: #888888;
}


#workspaces button.focused { 
	padding: 0px 11px 0px 11px; 
	background-color: #9f643e;
	color: #ffffff;
}
#workspaces button.urgent {
    background-color: #900000;
    color: #ffffff;
}


#mode { 
	 background-color: #900000;
	 color: #ffffff;
     padding: 0px 0px 0px 0px;
     border: 1px solid #2f343a;
}


#window {
	 color: #ffffff;
	 background-color: #9f643e;
     padding: 0px 10px 0px 10px;
}


window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}


window#waybar.empty {
	background-color: #323232;
}


.modules-right * {
    padding: 0 15px 0 15px;
}
    
#clock {
    padding: 0 0 0 15px;
}

#battery.critical {
   color: #ff5555;
}
